# Ignore the following file types

*.sdf
*.ipc
*.iphc
*.ipch
*.exe
*.pdb
*.ilk
*.sln
*.suo
*.vcxproj
*.filters
*.user
Debug*
*.opensdf
*.pdf
*master.log
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*BACKUP*
*.bak
*.orig